
<h2> Choose Factory:
<select class="pickFac" ng-model="facPage.selectedFactory"
	ng-options="fac.name for fac in dataSource.factories.data | orderBy:facPage.facSort:facPage.facSeq"
	ng-change="facPage.selectFactory();"></select>
</h2>
<p><em>{{ facPage.selectedFactory.desc }}</em></p>
<p>{{ facPage.selectedFactory.longdesc }}</p>
<hr />

<p>Select stats: <label class="selectStat" ng-repeat="stat in dataSource.statDefs">
  <input
    type="checkbox"
    value="{{ stat.active }}"
	ng-model="stat.active"
	ng-click="facPage.updateSortFields()"
  > {{stat.str}}
</label></p>


<p>Sort units by: 
	<button class="btn btn-primary"		
		ng-click="facPage.unitSortCallback(key);"
		ng-repeat="(key, title) in facPage.sortFields"
	><span ng-class="{
		'isSortedUp': facPage.unitSort==key&&facPage.unitSeq,
		'isSortedDown': facPage.unitSort==key&&!facPage.unitSeq
		}" class="sort">{{ title }}</span>
	</button>
</p>

<div class=" zk-unit well" ng-model="fac"
	ng-repeat="u in dataSource.units.data | filter:facPage.unitFilterByFac(facPage.selectedFactory.builds) | orderBy:facPage.unitSort:facPage.unitSeq">
	<div class="row">
		
		<div class="col-xs-3">
			<div ng-repeat="(key, title) in facPage.sortFields">	
				<div class="progress">
					<span class="title">{{ title }}</span>
					<span class="badge">{{ u[key] }}</span>
					<div class="progress-bar" role="progressbar"
						ng-style="{width: facPage.myWidth(key,u[key])}">
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-9">
			<h4><strong>{{ u.name }}</strong> - <em>{{ u.desc }}</em></h4>
			<p><img class="unitPic" src="img/units/{{ u.pic }}" />
			{{ u.longdesc }}</p>
		</div>
		
	</div>
</div>