
<p>Select stats: <label class="selectStat" ng-repeat="stat in unitStats">
  <input
    type="checkbox"
    value="{{ stat.active }}"
	ng-model="stat.active"
	ng-click="updateSortFields()"
  > {{stat.str}}
</label></p>


<p>Sort units by: 
	<button class="btn btn-primary"		
		ng-click="unitSortCallback(key);"
		ng-repeat="(key, title) in sortFields"
	><span ng-class="{
		'isSortedUp': unitSort==key&&unitSeq,
		'isSortedDown': unitSort==key&&!unitSeq
		}" class="sort">{{ title }}</span>
	</button>
</p>

<div class=" zk-unit well" ng-model="fac"
	ng-repeat="u in units.data | filter:unitFilterByFac(selectedFactory.builds) | orderBy:unitSort:unitSeq">
	<div class="row">
		
		<div class="col-xs-3">
			<div ng-repeat="(key, title) in sortFields">	
				<div class="progress">
					<span class="title">{{ title }}</span>
					<span class="badge">{{ u[key] }}</span>
					<div class="progress-bar" role="progressbar"
						ng-style="{width: myWidth(key,u[key])}">
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-9">
			<h4><strong>{{ u.name }}</strong> - <em>{{ u.desc }}</em></h4>
			<p><img class="unitPic" src="img/units/{{ u.pic }}" />
			{{ u.longdesc }}</p>
		</div>
		
	</div>
</div>