<div class=" zk-unit well" ng-model="fac"
	ng-repeat="u in units.data | filter:unitFilterByFac(selectedFactory.builds)">
	<div class="row">
		
		<div class="col-xs-4">
			<div ng-repeat="(key, title) in unitStats">	
				<div class="progress">
					<span class="title">{{ title }}</span>
					<span class="badge">{{ u[key] }}</span>
					<div class="progress-bar" role="progressbar"
						ng-style="{width: myWidth(u[key])}">
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-8">
			<h4><strong>{{ u.name }}</strong> - <em>{{ u.desc }}</em></h4>
			<p>{{ u.longdesc }}</p>
		</div>
		
	</div>
</div>