/* line 3, ../../sass/src/unitguide.sass */
body .pickFac {
  height: 40px;
}
/* line 6, ../../sass/src/unitguide.sass */
body .zk-unit .badge {
  right: 3px;
  position: absolute;
}
/* line 9, ../../sass/src/unitguide.sass */
body .zk-unit .title {
  padding-left: 3px;
  position: absolute;
}
/* line 12, ../../sass/src/unitguide.sass */
body .progress {
  margin-bottom: 4px;
}
/* line 14, ../../sass/src/unitguide.sass */
body .progress-bar {
  background-color: #446655;
}
