/* line 9, ../../sass/src/unitguide.sass */
body .footer {
  margin-top: 30px;
  color: #888888;
}
/* line 12, ../../sass/src/unitguide.sass */
body .navbar-text {
  color: #888888;
}
/* line 16, ../../sass/src/unitguide.sass */
body .navbar-nav > li > a:hover {
  color: #cbd3d4;
  background-color: #2f2f2f;
}
/* line 21, ../../sass/src/unitguide.sass */
body .btn-primary {
  background-color: #4c90a6;
  border-color: #cbd3d4;
  margin: 6px;
}
/* line 25, ../../sass/src/unitguide.sass */
body .btn-primary:hover, body .btn-primary:focus {
  background-color: #38bfec;
  border-color: #cbd3d4;
}
/* line 28, ../../sass/src/unitguide.sass */
body .btn .sort.isSortedUp:before {
  content: "\25BC";
}
/* line 30, ../../sass/src/unitguide.sass */
body .btn .sort.isSortedDown:before {
  content: "\25B2";
}
/* line 34, ../../sass/src/unitguide.sass */
body .pickFac {
  height: 40px;
}
/* line 38, ../../sass/src/unitguide.sass */
body .selectStat {
  margin: 2px 15px 0 0;
}
/* line 43, ../../sass/src/unitguide.sass */
body .zk-unit .badge {
  right: 3px;
  position: absolute;
  height: 20px;
}
/* line 47, ../../sass/src/unitguide.sass */
body .zk-unit .title {
  padding-left: 3px;
  position: absolute;
}
/* line 50, ../../sass/src/unitguide.sass */
body .zk-unit .progress {
  margin-bottom: 4px;
}
/* line 52, ../../sass/src/unitguide.sass */
body .zk-unit .progress-bar {
  background-color: #4c90a6;
}
/* line 54, ../../sass/src/unitguide.sass */
body .zk-unit .unitPic {
  float: left;
  padding: 0 10px 0 0;
}
/* line 57, ../../sass/src/unitguide.sass */
body .zk-unit .removeUnit {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #4c90a6;
  color: black;
  border: none;
}
/* line 64, ../../sass/src/unitguide.sass */
body .zk-unit .removeUnit:hover {
  background-color: #38bfec;
}
/* line 66, ../../sass/src/unitguide.sass */
body .zk-unit .comHeader {
  min-height: 80px;
}
/* line 68, ../../sass/src/unitguide.sass */
body .zk-unit .comHeader p {
  padding-right: 10px;
}
