
$zkCyan: #4c90a6
$zkCyan2: #38bfec
$zkLight: #cbd3d4

body
	.btn-primary
		background-color: $zkCyan
		border-color: $zkLight
		margin: 6px
	.btn-primary:hover
		background-color: $zkCyan2
		border-color: $zkLight
	.pickFac
		height: 40px
	.zk-unit
		.badge
			right: 3px
			position: absolute
			height: 20px
		.title
			padding-left: 3px
			position: absolute
	.progress
		margin-bottom: 4px
	.progress-bar
		background-color: $zkCyan
	.unitPic
		float: left
		padding: 0 10px 0 0
	.btn .sort.isSortedUp:before
		content: "\25BC"
	.btn .sort.isSortedDown:before
		content: "\25B2"